[Desktop Entry]
Hidden=true
Exec=/usr/bin/plasmashell
X-DBUS-StartupType=Unique
Name=Plasma Desktop Workspace
Type=Application
X-KDE-StartupNotify=false
X-DBUS-ServiceName=org.kde.plasmashell
OnlyShowIn=KDE;
X-KDE-autostart-phase=0
Icon=plasmashell
NoDisplay=true
X-systemd-skip=true

X-KDE-Wayland-Interfaces=org_kde_plasma_window_management,org_kde_kwin_keystate,zkde_screencast_unstable_v1
X-KDE-DBUS-Restricted-Interfaces=org.kde.kwin.Screenshot,org.kde.KWin.ScreenShot2
