/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
	70% {
		color: @light;
	}

	to {
		color: @light;
		background-color: @warning;
	}
}

@keyframes blink-critical {
	70% {
		color: @light;
	}

	to {
		color: @light;
		background-color: @critical;
	}
}


/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* COLORS */

/* Nord */
/*@define-color light #eceff4;
@define-color dark #2e3440;
@define-color warning #ebcb8b;
@define-color critical #d08770;
@define-color mode #4c566a;
@define-color workspaces #5e81ac;
@define-color workspacesfocused #81a1c1;
@define-color sound #d8dee9;
@define-color network #4c566a;
@define-color memory #88c0d0;
@define-color cpu #434c5e;
@define-color temp #d8dee9;
@define-color layout #5e81ac;
@define-color battery #88c0d0;
@define-color date #2e3440;
@define-color time #eceff4;*/

/* Nord */
@define-color light #eceff4;
@define-color mediumlight #d8dee9;
@define-color mediumdark #4c566a;
@define-color dark #2e3440;
@define-color warning #d08770;
@define-color critical #bf616a;
@define-color mode #2e3440;
@define-color workspaces #3b4252;
@define-color workspacesfocused #4c566a;
@define-color spare1 #d3869b;
@define-color spare2 #b16286;
@define-color sound #8ec07c;
@define-color network #8fbcbb;
@define-color pacman #88c0d0;
@define-color idle #81a1c1;
@define-color battery #5e81ac;
@define-color tray #2e3440;
@define-color date #3b4252;
@define-color time #434c5e;


/* Chinolor - https://github.com/iwyvi/chinolor */
@define-color light #eceff4;
@define-color lighttrans rgba(248,244,237,0.5);
@define-color mediumlight #d8dee9;
@define-color mediumdark #3b4252;
@define-color dark #23272F;
@define-color darktrans rgba(43,49,44,0.5);
@define-color warning #d08770;
@define-color critical #bf616a;
@define-color mode #2e3440;
@define-color workspaces #3b4252;
@define-color workspacesfocused #5e81ac;
@define-color sound #3b4252;
@define-color network #2e3440;
@define-color pacman #3b4252;
@define-color idle #2e3440;
@define-color battery #3b4252;
@define-color tray #23272F;
@define-color date #2e3440;
@define-color time #3b4252;


/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0px;
	padding: 0;
}

/* The whole bar */
#waybar {
    background: none;
    /*background-color: @darktrans;*/
    color: @light;
    font-family: SF Pro Text; /*Terminus, Siji;*/
    font-size: 10pt;
    /*font-weight: bold;*/
}

/* Each module */
#battery,
#clock,
#cpu,
#idle_inhibitor,
#language,
#memory,
#mode,
#network,
#custom-pacman,
#pulseaudio,
#temperature,
#custom-alsa,
#sndio,
#window,
#tray {
	padding-left: 6px;
	padding-right: 6px;
}

/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
	color: @critical;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-name: blink-critical;
	animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
	color: @warning;
}

/* Each warning that should blink */
#battery.warning.discharging {
	animation-name: blink-warning;
	animation-duration: 3s;
}

/* And now modules themselves in their respective order */

#custom-launcher {
	padding-left: 8px;
	padding-right: 4px;
	color: @mediumlight;
	background: @mode;
}

#mode { /* Shown current Sway mode (resize etc.) */
	color: @light;
	background: @mode;
}

/* Workspaces stuff */
#workspaces button {
	/*font-weight: bold;*/
	padding-left: 4px;
	padding-right: 4px;
	color: @mediumlight;
	background: @workspaces;
}

#workspaces button.focused {
	background: @workspacesfocused;
	color: @light;
}

/*#workspaces button.urgent {
	border-color: #c9545d;
	color: #c9545d;
}*/

#window {
        color: #81a1c1;
        /*background: @dark;*/
	background: @mediumdark;
        padding-right: 4px;
        margin-top: 0px;
}

#custom-alsa,
#pulseaudio,
#sndio {
	background: @sound;
	color: @mediumlight;
}

#network {
	background: @network;
	color: @mediumlight;
}

#memory {
	background: @memory;
	color: @dark;
}

#custom-pacman {
	background: @pacman;
	color: @mediumlight;
}

#cpu {
	background: @cpu;
	color: @mediumlight;
}

#temperature {
	background: @temp;
	color: @mediumlight;
}

#language {
	background: @idle;
	color: @mediumlight;
}

#idle_inhibitor {
	background: @idle;
	color: @mediumlight;
}



#battery {
	background: @battery;
	color: @mediumlight;
}

#tray {
	background: @tray;
}

#clock.date {
	background: @date;
	color: @mediumlight;
}

#clock.time {
	background: @time;
	color: @light;
}

#custom-power {
	background: @mode;
	color: @light;
        padding-left:4px;
        padding-right:8px;
}

#pulseaudio.muted {
	/* No styles */
}

#custom-arrow1 {
	font-size: 148%;
	color: @sound;
	background: transparent;
}

#custom-arrow2 {
	font-size: 150%;
	color: @network;
	background: @sound;
}

#custom-arrow3 {
	font-size: 150%;
	color: @pacman;
	background: @network;
}

#custom-arrow4 {
	font-size: 150%;
	color: @idle;
	background: @pacman;
}

#custom-arrow5 {
	font-size: 150%;
	color: @battery;
	background: @idle;
}

#custom-arrow6 {
	font-size: 150%;
	color: @tray;
	background: @battery;
}

#custom-arrow7 {
	font-size: 150%;
	color: @date;
	background: @tray;
}

#custom-arrow8 {
	font-size: 150%;
	color: @time;
	background: @date;
}

#custom-arrow8a {
	font-size: 150%;
	color: @date;
	background: @tray;
}

#custom-arrow9 {
	font-size: 150%;
	color: @mode;
	background: @time;
}

#custom-arrow10 {
	font-size: 150%;
	color: @workspaces;
	background: transparent;
}

#custom-arrowleft {
    font-size: 150%;
    color: @mediumdark;
    background: none;
}

#custom-arrowright {
    font-size: 150%;
    color: @mediumdark;
    background: transparent;
}
